.search-bar{
    width: 400px;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}
h1{text-align: center;
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}
h1 {
    color :rgb(245, 147, 163);
    font-size: 25px;
}
h2{
    text-align: center;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    color: rgb(255, 214, 221);
}
h3{text-align: center;
    position:absolute;
    top:150%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
}
h4{text-align: center;
    position:absolute;
    top: 47%;
    left:50%;
    transform: translate(-50%, -50%);
    color:mediumpurple;
    font-size: 11px;
    font: bold;
}

.btn-danger{
    position:absolute;
    top:135%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn-warning{
    position:absolute;
    top:52%;
    left:50%;
    transform: translate(-50%, -50%);
}

x{
    color: white;
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
}
y{
    color: white;
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
}

.list-group :nth-child(1){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);

}

.list-group :nth-child(2){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(3){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(4){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:75%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(5){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(6){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(7){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(8){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:95%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(9){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:100%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(10){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:105%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(11){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:110%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(12){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:115%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(13){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:120%;
    left:50%;
    transform: translate(-50%, -50%);
}
.list-group :nth-child(14){
    background-color:rgb(245, 147, 163) ;
    width: 260px;
    height: 32px;
    font-size: 22px;
    color:white;
    border: none;
    position:absolute;
    top:125%;
    left:50%;
    transform: translate(-50%, -50%);
}

.list-group :hover{
    background-color:rgb(255, 214, 221);
    cursor: pointer;
    transition:0.5s;
}