.search-bar{
    width: 300px;
    font-size: 500px;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}
h1{    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    color: tomato;
    }
    
.rbt{
        position:absolute;
        top:70%;
        left:50%;
        transform: translate(-50%, -50%);
    }